@import "../../variables.css";

.defects-list {
  &__title {
    padding: 0 15px 10px;
    margin: 25px 0 15px;
    border-bottom: 1px solid $border-color;
    &_status_BROKEN {
      border-bottom-color: $broken-color;
    }
    &_status_FAILED {
      border-bottom-color: $failed-color;
    }
  }
  &__count {
    font-size: 70%;
    font-weight: normal;
  }
}
