@import "../../variables.css";

.defects-list {
  &__title {
    &_status_BROKEN {
      border-bottom-color: $broken-color;
    }
    &_status_FAILED {
      border-bottom-color: $failed-color;
    }
  }
  &__count {
    font-size: 70%;
    font-weight: normal;
  }
}
