@import "../../variables.css";

$pane-gap: 15px;

.pane-set {
  top: $pane-gap;
  bottom: $pane-gap;
  left: 0;
  right: $pane-gap;
  position: absolute;
}

.pane {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 0 1px $border-accent-color;
  width: 50%;
  overflow-y: scroll;
  transition-property: left, width;
  transition-duration: 0.3s;
  &__title {
    padding: 0 15px 10px;
    margin: 25px 0 15px;
    border-bottom: 1px solid $border-color;
    font-size: 24px;
  }
  &__controls {
    float: right;
    padding-right: 0.5em;
    a {
      text-decoration: none;
      color: $text-color;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
  }
  &:first-child:last-child {
    width: 100%;
  }
}
