@import "../node_modules/normalize-css/normalize.css";
@import "../node_modules/bem-components-dist/desktop/bem-components.css";
@import "../node_modules/highlight.js/styles/idea.css";
@import "./grid.css";
@import "./blocks/alert/styles.css";
@import "./blocks/attachment-row/styles.css";
@import "./blocks/label/styles.css";
@import "./blocks/table/styles.css";
@import "./variables.css";

body {
  color: $text-color;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 14px;
}

#content {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .app {
    flex: 1;
  }
  & > .spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}


.view {
  padding: 0 15px;
  margin: 0 auto;
  &_narrow {
    max-width: 1100px;
  }
}

.clickable {
  cursor: pointer;
}

.col-sm-shrink {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
