@import '../../variables.css';

.table {
  width: 100%;
  border: 1px solid $border-color;
  &_hover {
    tbody tr:hover td {
      cursor: pointer;
      background: $hover-color;
    }
  }
  thead {
    tr {
      text-align: left;
      background: $heading-bg;
    }
  }
  tr {
    border-bottom: 1px solid $border-color;
  }
  td, th {
    padding: 10px 15px;
  }
}
