@import '../../variables.css';

.table {
  width: 100%;
  border-color: $border-color;
  border-style: solid;
  border-width: 0px 0 1px 0;
  &_hover {
    tr:hover td {
      cursor: pointer;
      background: $hover-color;
    }
  }
  tr.table__row_summary {
    td {
      cursor: default;
      background: #f6f5f3;
    }
  }
  tr.table__row_active {
    td {
      background: $selected-color;
    }
  }
  thead {
    tr {
      text-align: left;
      border-bottom: 1px solid $border-accent-color;
    }
  }
  tr {
    border-bottom: 1px solid $border-color;
  }
  td, th {
    padding: 10px 15px;
  }
  &__col {
    &_center {
      text-align: center;
    }
    &_right {
      text-align: right;
    }
  }
}
