@import "../../variables.css";

.report-page {
  &__actions {
    float: right;
    margin-top: 7px;
    margin-right: 15px;
  }
  &__content {
    padding: 10px 40px;
  }
  &__sidebar {
    padding: 0 15px;
    width: 300px;
    background: $heading-bg;
  }
}
