@import "../../variables.css";

.button {
  &_inverse.button_view_pseudo {
    &:before {
      box-shadow: 0 0 0 1px $border-color;
    }
    &.button_hovered:before {
      box-shadow: 0 0 0 1px #fff;
    }
    color: #fff;
  }
}
