/* import vendor libs */
@import "../../../target/webjars/META-INF/resources/webjars/bootstrap/3.2.0-2/less/bootstrap.less";
@import (less)  "../../../target/webjars/META-INF/resources/webjars/angular-loading-bar/0.6.0/loading-bar.css";
@import "../../../target/webjars/META-INF/resources/webjars/font-awesome/4.2.0/less/font-awesome.less";

@fa-font-path: "../webjars/font-awesome/4.2.0/fonts";

@import "highlight-github";
@import "islands/islands";
@import "base";
@import "statuses";
@import "blocks/pane";
@import "blocks/testcase";
@import "blocks/charts";
@import "blocks/features";
@import "blocks/xunit";
@import "blocks/widget";

[ng-cloak], [data-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
  display: none !important;
}

.ng-animate-block-transitions {
  transition: 0s all !important;
  -webkit-transition: 0s all !important;
}

.ng-hide-add-active, .ng-hide-remove {
  display: block !important;
}

.preloader {
  position: absolute;
  z-index: 1001;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  .alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.b-page__nav {
  min-width: 850px;
  margin-bottom: 0;
  .navbar-header {
    width: 138px;
    float: left;
    .allure-logo {
      background: url(../img/allure-logo.png) 8px center no-repeat;
      font-size: 1.4em;
      padding-left: 55px;
      font-weight: bold;
      &, &:hover {
        color: #333
      }
    }
  }
  .navbar-text {
    margin-left: 5px;
    margin-right: 5px;
  }
  .navbar-right {
    float: right;
  }
}

.loader {
  position: relative;
  width: 100%;
  #loading-bar .bar, #loading-bar-spinner {
    position: absolute;
    z-index: 1000;
  }
  #loading-bar .bar {
    background: #FFDD00;
    .peg {
      .box-shadow(#FFDD00 1px 0 6px 1px);
    }
  }
  #loading-bar-spinner .spinner-icon {
    border-top-color: #FFDD00;
    border-left-color: #FFDD00;
  }
}

.dashboard {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0;
  bottom: 0;
}

.dashboard > .b-vert {
  text-align: center;
  float: left;
  margin-top: 20px;
  width: 8%;
  min-width: 80px;
  max-width: 138px;
  &.b-vert_collapsed {
    width: 45px;
    min-width: 45px;
    .fa {
      font-size: 150%;
    }
  }
  .fa {
    display: block;
    font-size: 250%;
    margin: 0 auto;
  }
}

.dashboard > .tab-content {
  height: 100%;
  overflow: auto;
  position: relative;
  padding-left: 1px;
  & > .tab-content-fill {
    overflow: hidden;
    position: absolute;
    margin: 0;
    top: 20px;
    left: 0;
    bottom: 20px;
    right: 20px;
  }
  .tab-blank {
    left: 1px;
    &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 15px;
      font-size: 16px;
      line-height: 1.8em;
      background: #fff;
      border: 1px solid #c2c2c2;
      text-align: center;
      .translate(-50%, -50%);
    }
  }
}

.error-message {
  position: absolute;
  left: 50%;
  .translate(-50%, 0);
  top: 100px;
}

.feedback {
  .b-popup {
    left: 10px;
    right: 10px;
  }
  &_item {
    display: block;
    padding: 10px;
    .fa {
      visibility: hidden;
      margin-right: 0.3em;
    }
    &-checked {
      .fa {
        visibility: visible;
      }
    }
  }
}

.b-island.timeline {
  .timeline_pane {
    width: 100%;
  }
}

.list-item {
  position: relative;
  padding: 5px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  &:hover {
    background: #f4f4f4;
  }
  &.active {
    color: #fff;
    background: #428bca;
    a {
      color: #fff;
    }
  }
}

.defects .pane-header {
  padding: 10px;
}

.defect {
  &_title {
    &.ui-scrollfix {
      background: rgba(255, 255, 255, 0.9);
      position: fixed;
      top: 50px;
      z-index: 1;
      width: inherit;
      & + * {
        margin-top: 83px;
      }
    }
  }
  &_message {
    padding: 5px;
  }
  &_type_failed {
    border-color: @brand-danger;
  }
  &_type_broken {
    border-color: @brand-warning;
  }
  &_item {
    margin-left: 20px;
  }
}

.fa-icon-mixin(@content) {
  .fa-icon();
  &:before {
    content: @content;
  }
}
