@import "../../variables.css";

$pane-gap: 15px;

.panes-container {
  display: flex;
  top: $pane-gap;
  bottom: $pane-gap;
  left: 0;
  right: $pane-gap;
  position: absolute;
}

.pane {
  background: #fff;
  box-shadow: 0 0 0 1px $border-accent-color;
  &:first-child:last-child {
    width: 100%;
  }
}
