<h2 class="widget__title">Test run</h2>
<div class="overview-widget__caption">
    Started {{date time.start}} at {{time time.start}} ({{time.duration}})
</div>
<div class="overview-widget__bar">
    {{status-bar statistic}}
</div>
