<h2 class="pane__title">
    {{title}}
    <span class="pane__controls">
        <a class="fa fa-close" title="Close" href="#{{route.baseUrl}}"></a>
    </span>
</h2>

<pre>
    <code>
        Content
    </code>
</pre>
