@import '../../variables.css';

.app {
  background: $body-bg;
  display: flex;
  flex-direction: column;
  &__nav {
    padding: 0 1em;
  }
  &__body {
    flex: 1;
  }
  &__content {
    position: relative;
    padding: 15px 15px 15px 0;
    flex: 1;
  }
  &__header {
    background: $heading-bg;
  }
}
