@import "../../variables.css";

.side-nav {
  background: $app-nav-bg;
  width: $sidebar-full-width;
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: width 0.3s;
  overflow: hidden;
  & > * {
    width: $sidebar-full-width;
  }
  &__head {
    margin: $gap-size 0;
    padding-bottom: $gap-size;
    padding-left: $gap-size;
    border-bottom: 1px solid $sidebar-separator-color;
    transition: width 0.3s;
  }
  &__brand {
    color: $sidebar-brand-color;
    text-decoration: none;
    display: block;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    background: url('https://avatars2.githubusercontent.com/u/16917155?v=3&s=40') no-repeat 10px center;
    padding-left: 50px;
    margin-bottom: 10px;
    transition: all 0.3s;
  }
  &__menu {
    margin: 0;
    left: 0;
    padding: 0 0 0 $gap-size;
    list-style-type: none;
    transition: width 0.3s;
  }
  &__footer {
    margin-top: auto;
    margin-bottom: $gap-size;
    padding-left: $gap-size;
    padding-right: $gap-size;
  }
  
  &__item {
    
    overflow: hidden;
    display: block;
    font-size: 14px;
  }
  &__link, &__collapse {
    overflow: hidden;
    display: block;
    color: $text-muted-color;
    text-decoration: none;
    transition: color 0.1s ease-in;
    padding: 0.8em 0;
    &_active {
      color: $sidebar-active-text-color;
      border-right: 4px solid $sidebar-active-accent-color;
    }
    &:hover {
      color: $sidebar-hover-text-color;
    }
  }
  &__icon {
    font-size: 22px;
    line-height: 24px;
    vertical-align: middle;
    transition: top 0.3s ease-in;
    margin: 0 5px;
  }
  &__flag {
    display: inline-block;
    width: 16px;
    height: 12px;
    background-size: cover;
    background-position: center;
    position: relative;
    top: -2px;
    vertical-align: middle;
    &_lang_en {
      background-image: url(~flag-icon-css/flags/4x3/gb.svg);
    }
    &_lang_ru {
      background-image: url(~flag-icon-css/flags/4x3/ru.svg);
    }
    &_lang_ptbr {
      background-image: url(~flag-icon-css/flags/4x3/br.svg);
    }
  }
  &__language {
    display: block;
    width: 100%;
  }
  &__language-small {
    display: none;
    text-transform: capitalize;
    padding: 0 5px;
    text-overflow: '.';
    max-width: 30px;
  }
  &__collapse {
    cursor: pointer;
    .side-nav__icon {
      position: relative;
      top: -1px;
      transition: transform 0.1s;
    }
  }
  &_collapsed {
    width: $sidebar-collapsed;
    & > * {
      width: $sidebar-collapsed;
    }
    .side-nav__menu {
      padding: 0;
    }

    .side-nav__brand {
      width: 30px;
      height: 40px;
      background-size: contain;
      background-position: 0;
      padding-left: 30px;
    }
    .side-nav__icon {
      margin: 0;
      overflow: hidden;
      display: block;
      text-align: center;
    }
    .side-nav__language {
      display: none;
    }
    .side-nav__language-small {
      display: block;
    }
    .side-nav__collapse .side-nav__icon {
      transform: rotate(180deg);
    }
    .side-nav__text {
      display: none;
    }
  }
}
