<ul class="side-nav">
    {{#each tabs}}
        <li class="side-nav__item">
            <a href="#{{tabName}}" class="{{b "side-nav" "link" active=active}}">
                <div class="side-nav__icon {{icon}}"></div>
                {{title}}
            </a>
        </li>
    {{/each}}
</ul>
