<ul class="side-nav">
    {{#each tabs}}
        <li class="side-nav__item">
            <a href="#{{tabName}}" class="side-nav__link">
                <div class="side-nav__icon {{icon}}"></div>
                {{title}}
            </a>
        </li>
    {{/each}}
</ul>
